main {
    padding: 0 5rem;
}
.intro {
    background-color: #FDF0E9;
    height: 82vh;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 5.5rem 13.1rem;
    text-align: center;
}
.intro__h1 {
    margin-bottom: 3rem;
}
.intro__buttons {
    margin-top: 5rem;
    transform: translateX(8rem);
}
.intro__buttons button {
    padding: .77rem;
}
.intro__buttons button:first-child {
    margin-right: 3rem;
}
.intro__buttons button:last-child {
    width: 14rem;
}
.infos {
    margin: 2rem 0;
    transform: translateX(4rem);
}
.infos__block {
    border-left: 2px #C4C4C4 solid;
    padding: 0 7rem 0 1rem;
}
.bold {
    font-weight: bold;
}
.offers {
    padding: 2rem -1rem;
}
.offers__intro {
   margin: 8rem 0 2rem;
}
.offers__content {
    box-shadow: 6px 6px 60px rgba(0, 0, 0, 0.08);
}
.offers__content .syllabus {
    transform: translateY(1.5rem);
    margin-bottom: 9rem;
}
.offers__content button {
    width: 12rem;
    padding: 1rem 0;
    clip-path: polygon(0% 20%, 60% 20%, 100% 20%, 90% 53%, 81% 79%, 46% 80%, 0% 80%);
}
.offers .content-2:first-child,
.offers .content-2:last-child {
    width: 50%;
}
.offers .content-2 {
    display: flex;
    padding: 0 2rem;
}
.offers .content-2 .left{
    padding-right: .5rem;
}
.img1 {
    height: 6rem;
}
